################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Theme
/ProjectRocy/.vs/ProjectRocy/v16
/ProjectRocy/ProjectRocy/obj
